{% extends 'third/base.html' %}

{% block title %}
    <title>All Employee..</title>
    {% endblock %}


{% block content %}

<h1>Hello Employee..</h1>

<table class="table">
    <thead class="tread-dark">
    <tr>
            <th>EID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
     {% for e in emp %}
     <tr>
            <th>{{e.eid}}</th>
            <th>{{e.name}}</th>
            <th>{{e.email}}</th>
            <th>{{e.salary}}</th>
        </tr>
        {% endfor%}
    </table>

{% endblock %}